.nav-link{
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
} 
.nav-link a{
    all:unset
}
.nav-link:hover {
    transform: scale(1.1);
    margin-bottom: -1px;
    border-bottom: 1px solid white;
}
.nav-logout:hover{
    opacity: 1;
}
.nav-logout{
    align-self: center;
    margin-top: .4%;
    cursor: pointer;
    opacity:0.5;
    color:white;
}